<div class="ui card lista-seguros">
    <div class="content">
        <div class="header">Seguros</div>
    </div>
    <div class="content">

        <ng-container >
            <ng-container >
                <div  class="claim-row">
                    <div>
                        <strong>Marca e Modelo: </strong>                    
                    </div>
                    <div>
                        <strong>Proprietário: </strong>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <ng-template #carregando>
            Carregando seguros...
        </ng-template>

        <ng-template #semSeguros>
            Não há seguros cadastrados.
        </ng-template>
    </div>
</div>